<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>190271928038-jup4koiesih0713evocj0scv5qglpad6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.190271928038-jup4koiesih0713evocj0scv5qglpad6</string>
	<key>API_KEY</key>
	<string>AIzaSyAo_QOPb35v4Ffm1tFcIRbvv7d9-xxptrM</string>
	<key>GCM_SENDER_ID</key>
	<string>190271928038</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFirebase.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fluttertest-3f079</string>
	<key>STORAGE_BUCKET</key>
	<string>fluttertest-3f079.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:190271928038:ios:b8034a91459edcf08e2d27</string>
</dict>
</plist>